<div class="faces-roll-details">
  {{#each roll.dice as |dice|}}
  {{#each dice.results as |result|}}
  {{#if (gt dice.faces 0)}}
  <div
    class="result-dice 
    {{ ternary (eq dice.faces result.result) 'success' '' }}
    {{ ternary (and (eq result.result 1) ../../oneisfaill) 'faill' '' }}
    
    "
  >
    <i class="result-dice-icon monni-icon-d{{ dice.faces }}"></i>
    <div class="result-dice-value">
      <div>
        {{ result.result }}
      </div>
    </div>
  </div>
  {{/if}}
  {{/each}}
  {{/each}}
</div>
