{{log actor}}

<form class="actor-sheet {{ cssClass }}" autocomplete="off">
  {{> (partial moduleId "actor/header") moduleId=moduleId actor=actor}}
  {{ log dices }}
  {{#each tabs as |onetab|}}
  {{> (partial ../moduleId (concat "actor/pannels/" onetab)) moduleId=../moduleId dices=../dices actor=../actor display=(eq onetab ../tab)}}
  {{/each}}
</form>
